.picker {
  height: 36px;
  padding: 24px 12px 4px;
  background-color: #e0e0e0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-width: 0;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: #c0c0c0;
  font-size: 16px;
  outline: none;
}

.picker::placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background: var(--primary-color) !important;
}

input.picker:focus {
  border-bottom-color: var(--primary-color);
}

.time-picker {
  max-width: 85%;
}
